// Colors
$darkest-navy: #03DAC6;
$dark-navy:#03DAC6;
$navy: #3A5FA2;
$dark-teal: #285B76;
$teal: #328A9F;
$light-teal: #6EC3D5;
$ice: #D4E6F5;
$carmine : #91241d;
$orange : #e5a05e;

$border-radius: 4px;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

$hover: #ededed;
